[submodule "themes/hugo-theme-terminal"]
	path = themes/hugo-theme-terminal
	url = git@github.com:panr/hugo-theme-terminal.git
[submodule "public"]
	path = public
	url = git@github.com:rxOred/rxOred.github.io
	branch = main
[submodule "themes/dimension"]
	path = themes/dimension
	url = https://github.com/your-identity/hugo-theme-dimension.git
